.text-center{text-align:center;}
.copyright{color:#666;padding:20px;}
.copyright p{line-height:30px;}
.btn-theme,a.btn-theme{color:#fff !important;background-color:#5148a3 !important;border-color:#5148a3 !important;line-height:30px;height:30px;padding:0 12px;}
.btn-theme2,a.btn-theme2{color:#5148a3 !important;background-color:#fff !important;border-color:#5148a3 !important;}
.btn-theme2:hover{background:#5148a3!important;color:#fff!important;}
.text-theme{color:#5148a3;}
a.theme_hover:hover{color:#5148a3;}
/*1 我要借款首页*/
.ml-index{}
.ml-index-banner{background:url(/public/images/loan/index_banner.jpg) no-repeat top center;height:465px;}
.ml-index-banner .bd{position:relative;padding-top:75px;padding-left:90px;}
.ml-index-banner .bd h4{font-size:36px;color:#fff;line-height:1;}
.ml-index-banner .bd h3{font-size:48px;color:#fff;line-height:1;}
.ml-index-banner .bd .btn-apply{display:inline-block;width:238px;line-height:44px;height:44px;text-align:center;background:#fff;font-size:18px;border-radius:44px;}
.ml-index-banner .bd .desc{font-size:16px;color:#918bce;width:238px;text-align:center;}

.ml-index-detail{position:relative;background:#0a0823;padding-left:50px;height:200px;margin-top:-120px;}
.ml-index-detail .title{color:#fff;font-size:24px;padding-top:60px;line-height:1;}
.ml-index-detail .desc{color:#fff;line-height:24px;width:310px;padding-top:25px;}
.ml-index-detail .infos{position:absolute;right:40px;bottom:40px;}
.ml-index-detail .infos li{float:left;text-align:center;}
.ml-index-detail .infos li .pic{line-height:56px;height:56px;}
.ml-index-detail .infos li .pic img{height:52px;}
.ml-index-detail .infos li p{color:#999;padding:25px 0 0;width:240px;}

.ml-index-desc{position:relative;height:398px;margin-top:80px;}
.ml-index-desc.desc1{background:url(/public/images/loan/index_bg1.png) no-repeat;float:left;width:587px;}
.ml-index-desc.desc2{background:url(/public/images/loan/index_bg2.png) no-repeat;float:right;width:577px;}
.ml-index-desc .bd{position:absolute;right:0;top:70px;width:421px;height:194px;background:url(/public/images/loan/index_bg3.png) no-repeat;padding:30px 50px;}
.ml-index-desc .bd h2{color:#393374;font-size:18px;font-weight:700;padding-bottom:20px;line-height:20px;}
.ml-index-desc .bd p{line-height:24px;color:#666;}

.ml-index-apply{padding:80px 20px;}
.ml-index-apply .btn-apply{display:inline-block;width:356px;line-height:66px;height:66px;text-align:center;border-radius:66px;color:#fff;font-size:24px;background:#393374;}
/*2 注册登录*/
.m-access .centerwp{height:auto;}
.m-access.loan-register{background: url(/public/images/loan/register_bg.jpg) no-repeat top center;min-height:678px;}
.m-access.loan-login{background: url(/public/images/loan/login_bg.jpg) no-repeat top center;min-height:572px;}
.m-access-form .hd{font-size:18px;}
.m-access-form .extralogin{position:absolute;right:0;top:0;background:#ededed;width:104px;height:104px;background: url(/public/images/loan/triangle.png) no-repeat top right;}
.m-access-form .extralogin .link{position:absolute;right:11px;;top:14px;display:inline-block;color:#3961cd;line-height:18px;text-align:center;}
.m-access-form .extralogin .link:hover{text-decoration:none;}
.m-access-form.registerform{top:25px;}
.m-access-form.registerform .hd{line-height:1;height:auto;padding:40px 50px 0;border:none;}
.m-access-form.registerform .hd h4{font-size:18px;color:#666;}
.m-access-form.registerform .hd .tip{background:#faefe5;font-size:14px;line-height:20px;color:#9e7d65;text-align:center;padding:8px;font-size:12px;}
.m-access-form .bd .btn-submit{background:#5148a3;}
/*3 注册成功*/
.bg_loansuccess{background: url(/public/images/loan/user_bg.jpg) no-repeat top center;}
.m-success{border-radius:10px;}
.m-success .hd.registerhd{position:relative;height:150px;padding:0 200px;}
.m-success .hd.registerhd .icon-font{position:absolute;left:220px;bottom:30px;}
.m-success .hd.registerhd .info{position:absolute;left:310px;bottom:40px;color:#666;}
.m-success .hd.registerhd .info h2{font-size:24px;line-height:40px;}
.m-success .bd.loanbd{padding:30px 100px 80px;text-align:center;}
/*4 借款申请*/
.ml-apply{width:540px;position:relative;margin-left:auto;margin-right:auto;}
.ml-apply .step{padding-top:80px;padding-left:10px;}
.ml-apply .step1{background: url(/public/images/loan/step1.png) no-repeat top center;}
.ml-apply .step2{background: url(/public/images/loan/step2.png) no-repeat top center;}
.ml-apply .step li{float:left;width:130px;text-align:center;line-height:20px;color:#666;}
.ml-apply .step li+li{margin-left:70px;}
.ml-apply .loanform{background:#fff;padding:30px 85px 50px;}
.ml-apply .loanform .title{font-size:24px;line-height:1;text-align:center;}
.ml-apply .descline{color:#999;line-height:30px;padding-top:10px;}
.ml-apply .descline .red{color:#c00;padding:0 3px;}
.ml-apply .warndesc{color:#c96;line-height:30px;padding-left:20px;}
.ml-apply .agreementdiv{font-size:13px;color:#999;line-height:20px;position:relative;}
.ml-apply .formline .input-text{width:328px;padding:5px 20px;line-height:34px;height:34px;border-radius:8px;}
.ml-apply .formline .select{width:368px;padding:0 20px;line-height:44px;height:44px;border-radius:8px;}
.ml-apply .icontip{position:absolute;right:-25px;top:0;line-height:44px;font-size:18px;display:none;}
.ml-apply .formline .unit{position:absolute;right:10px;top:0;line-height:44px;display:inline-block;}
.ml-apply .formline .btn-submit{width:100%;line-height:46px;height:46px;background:#5148a3;color:#fff;font-size:18px;border-radius:8px;letter-spacing:1pt;text-align:center;}
.ml-apply .tipdiv{line-height:20px;min-height:20px;}
.ml-apply .tipdiv .errortip{color:#f3000b;font-weight:700;}
.ml-apply .tipdiv .icon-font{font-size:14px;margin-right:3px;}
/*6 账户中心*/
.m-user{background:url(/public/images/loan/user_bg.jpg) no-repeat top center;}
.mu-left > a.on, .mu-left > a:hover{background:#5148a3;}
.mu-safe .fl .safe-list li i.active{color:#5148a3;}
.mu-safe .fl .level .progress-bar{background:#5148a3;}
.userLeft-shrink > a:hover,.userLeft-shrink > a.on {background-color:#5148a3;}
.user-total p.link a{color:#5148a3;border-color:#5148a3;}
.user-total p.link a.on{color:#fff;background-color:#5148a3;border-color:#5148a3;}
.mu-tabs .tabs li.on:before,
.mu-cash .extract-form .item .submit,
.mu-deal .btn-search,
.m-attestation .attestation-Btn{background:#5148a3;}
.mu-tabs .tabs li.on,.mu-tabs .tabs li.on a{color:#5148a3;}

.mu-recharge .banklist li.on{background:url(/public/images/bank/bankon2.png) no-repeat;}
.mu-recharge-form .btn-submit,.mu-recharge-form .btn-submit:hover,.mu-recharge-form .btn-submit:focus,.mu-recharge-form .btn-submit:active,
.mu-cash-form .btn-submit,.mu-cash-form .btn-submit:hover,.mu-cash-form .btn-submit:focus,.mu-cash-form .btn-submit:active{background:#5148a3;}
.mu-recharge-form .rechargetype li.on,.mu-cash-form .cashtype li.on{background:url(/public/images/user/typeon2.png) no-repeat 20px 21px;border-color:#9892c8;}
.mu-recharge-form .formhd{color:#5148a3;}

.mu-security .item a{color:#5148a3;border-color:#5148a3;}
.mu-security .item a:hover,.mu-security .item a.on{background:#5148a3;border-color:#5148a3;color:#fff;}
.mu-table .btn-theme2{color: #5148a3;background-color:#fff;border:1px solid #5148a3;min-width:50px;padding:0 5px;border-radius:5px;text-decoration:none!important;line-height:24px;height:24px;}

.m-form-payback .infotip{background:#fff7d5;color:#c90;font-weight:700;line-height:40px;padding:0 20px;text-align:center;}
.m-form-payback .bd{padding:0 50px 30px;}
.m-form-payback .bd .formline{position:relative;}
.m-form-payback .bd .formline .formlabel{position:absolute;left:10px;top:0;color:#666;line-height:44px;height:44px;}
.m-form-payback .bd .formline .input-text{width:198px;line-height:42px;height:42px;padding:0 30px 0 90px;border-radius:10px;}
.m-form-payback .bd .formline .input-code{width:98px;}
.m-form-payback .bd .formline .input-text.readonly{background:#f5f5f5;}
.m-form-payback .bd .formline .eyepwd{position:absolute;right:0;top:0;line-height:44px;display:block;color:#999;padding:0 10px;cursor:pointer;}
.m-form-payback .bd .formline .icontip{position:absolute;right:10px;top:0;line-height:44px;font-size:18px;display:none;}
.m-form-payback .bd .formline .inputtip-code{right:110px;}
.m-form-payback .bd .formline .icon-right{color:#67c23a;}
.m-form-payback .bd .formline .icon-error{color:#fa5555;}
.m-form-payback .bd .formline .codebtn{position:absolute;right:0;top:0;width:100px;text-align:center;line-height:44px;}
.m-form-payback .bd .btn-submit{line-height:50px;height:50px;padding:0;background:#5148a3;color:#fff;font-size:18px;letter-spacing:1pt;border-radius:10px;text-align:center;width:100%;}
.m-form-payback .bd .btn-submit.disabled,.m-form-payback .bd .btn-submit.disabled:hover,.m-form-payback .bd .btn-submit.disabled:focus{background:#ccc;color:#fff;cursor:not-allowed;}
    