.md-act{position:relative;background:#9e0b0f url(/public/images/event/jan/bg.jpg) no-repeat top center;padding-top:520px;}
.md-act .maintitle{position:relative;width:666px;margin-left:auto;margin-right:auto;text-align:center;line-height:64px;height:64px;border-top:1px solid #c98162;border-bottom:1px solid #c98162;font-size:26px;color:#f6d59b;}
.md-act .wp{width:946px;}

.md-mode1 .desc1{line-height:80px;color:#fff;font-size:22px;text-align:center;}
.md-mode1 ul{width:1000px;margin-left:-27px;margin-top:30px;padding-bottom:120px;}
.md-mode1 li{float:left;width:250px;text-align:center;}
.md-mode1 li .bonus{background:url(/public/images/event/jan/p11.png) no-repeat center;width:150px;height:118px;position:relative;margin:0 auto;text-align:center;}
.md-mode1 li .bonus h4{font-size:30px;line-height:70px;}
.md-mode1 li .bonus p{line-height:48px;font-size:18px;color:#6c4c22;}
.md-mode1 li .term{line-height:60px;font-size:16px;color:#fff;}
.md-mode1 li .btn-act{width:139px;line-height:48px;height:48px;font-size:18px;text-align:center;color:#fc6;border-radius:50px;transition:all 0.2s;border:2px solid #fff0bb;}
.md-mode1 li .btn-act.disabled{background:#acacac;color:#fff;}

.md-mode2{width:966px;height:289px;background:url(/public/images/event/jan/p21.png) no-repeat center;margin-left:-10px;margin-top:50px;position:relative;}
.md-mode2 .desc3{position:absolute;left:20%;top:230px;text-align:center;color:#630;font-size:18px;line-height:1;width:60%;}
.md-mode2 .amt1,.md-mode2 .amt2{position:absolute;right:50%;top:90px;width:220px;text-align:center;font-size:30px;line-height:1;color:#d20000;}
.md-mode2 .amt1 em{font-size:24px;}
.md-mode2 .amt2{right:auto;left:50%;color:#8c6a49;}
.md-mode2 .desc1,.md-mode2 .desc2{position:absolute;left:50%;top:140px;width:220px;text-align:center;font-size:20px;color:#87571d;}
.md-mode2 .desc1{left:auto;right:50%;}

.md-mode3 .tablediv{margin-top:60px;position:relative;padding-bottom:28px;background:url(/public/images/event/jan/p31.png) no-repeat bottom center;border-radius:10px;}
.md-mode3 .datatable thead{}
.md-mode3 .datatable th{line-height:77px;height:77px;padding:0 10px;text-align:center;color:#630;font-size:16px;}
.md-mode3 .datatable td{background:#fff6ed;line-height:77px;height:77px;padding:0 10px;text-align:center;color:#564833;font-size:18px;}
.md-mode3 .datatable tr+tr{border-top:1px solid #e8cfa5;}
.md-mode3 .datatable .rank{color:#c7933c;position:relative;}
.md-mode3 .datatable .rank em{-webkit-transform:translateY(-5px);transform:translateY(-5px);display:inline-block;font-size:12px;line-height:1;}
.md-mode3 .datatable tr.on td{color:#fff;background:#bc9156;}
.md-mode3 .datatable tr.on .rank:after{display:block;content:'您在这里';position:absolute;right:0;top:-16px;width:100px;line-height:32px;height:32px;text-align:center;font-size:18px;color:#fff;background:#9e0b0f;border-radius:10px;}
.md-mode3 .remark{color:#f6d59b;line-height:30px;padding:30px 30px;}

.md-rule{margin-top:100px;color:#f6d59b;padding:0 40px 330px;}
.md-rule h2{font-size:24px;text-align:center;line-height:1;padding-bottom:30px;}
.md-rule p{line-height:36px;}

.md-footer{border-top:1px solid #aaa;color:#eed9b3;text-align:center;font-size:14px;line-height:90px;height:90px;}
.md-footer a.keeplink{color:#eed9b3;text-decoration:underline;}

.md-getbonus .bd{position:fixed;top:50%;left:50%;width:580px;height:640px;padding-top:38px;margin-left:-290px;margin-top:-358px;
		transform:translateY(-300px);transition:all 0.4s;background:url(/public/images/event/jan/getbonus.png) no-repeat;text-align:center;color:#fff;z-index:2000;}
.md-getbonus.getbonus .bd{transform:translateY(0);}
.md-getbonus .btndiv{position:absolute;bottom:42px;right:0;width:580px;text-align:center;}
.md-getbonus .btn-act{width:440px;line-height:70px;height:70px;text-align:center;background:#e3c383;color:#222;font-size:24px;border-radius:70px;}
.md-getbonus .desc1{padding-top:64px;font-size:36px;line-height:1;}
.md-getbonus .desc2 p{font-size:24px;line-height:1;padding-bottom:15px;}
.md-getbonus .desc2 em{color:#ffde00;font-size:36px;}





