body {
    background-color: #efefef;
}
.passwordhide{position:absolute;left:-10000px;top:-10000px;opacity:0;}
.product-list-banner {
    height:460px;
    margin:0 0 25px;
    background: url('/public/images/product/auto_banner.jpg?v3') no-repeat top center;
}
.product-list-banner .container{
    position: relative;
}
.product-list-banner .tabs{
    position: absolute;
    left:0;
    top:328px;
    height: 62px;
    width:100%;
    padding:17px 0 0 100px;
    margin:0 0 20px;
    background-color: rgba(255,255,255,.3);
    border-bottom:1px solid #d2d2d2;
}
.product-list-banner .tabs li{
    float:left;
    width:122px;
    height: 45px;
    line-height: 45px;
    margin:0 60px 0 0;
}
.product-list-banner .tabs li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color:#fff;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.product-list-banner .tabs li a:hover,.product-list-banner .tabs li a.active{
    text-decoration: none;
    border-bottom:5px solid #fff;
}
.product-list-banner .product-list {
    position: absolute;
    left: 0;
    top: 350px;
    width: 100%;
}

.product-list-banner .product-list ul {

}

.product-list-banner .product-list > ul > li {
    position: relative;
    width: 590px;
    margin: 0 20px 0 0;
    padding:30px 40px;
    color: #666;
    float: left;
    font-size: 16px;
    height: 190px;
    box-shadow: 0 0 4px #eed7aa;
    background: #fff; /* 一些不支持背景渐变的浏览器 */
    background: -moz-linear-gradient(top, #fff 80%, #f4f4f4);
    background: -webkit-gradient(linear, 0 0, 80% bottom, from(#fff), to(#f4f4f4));
    background: -o-linear-gradient(top, #fff 80%, #f4f4f4);
    background: -prefix-linear-zgradient(top, #fff 80%, #f4f4f4);
    background: -webkit-linear-gradient(top, #fff 80%, #f4f4f4);
    background: linear-gradient(top, #fff 80%, #f4f4f4);
}
.product-list-banner .product-list > ul > li:last-child{
    margin:0;
}
.product-list-banner .product-list > ul > li:hover {
    box-shadow: 0 0 8px #eed7aa;
}

.product-list-banner .product-list ul li h4{
    font-weight: bold;
    line-height: 1.4;
    margin:20px 0 15px;
    color:#333;
}
.product-list-banner .product-list ul li h4.last{
    margin:0 0 15px;
}
.product-list-banner .product-list ul li ul{
    margin:25px 0 0;
}
.product-list-banner .product-list ul li ul li{
    margin:0 0 10px;
    padding:0 0 0 24px;
    width:240px;
    float:left;
    background: url("/public/images/product/auto_icon.png") no-repeat;
}

.mp-tabs{background: #f8f8f8; border-bottom: 1px solid #efefef;}
.mp-tabs .bd{position: relative; display: flex;width:1200px;margin-left:auto;margin-right:auto;}
.mp-tabs .bd li a{display: block; margin: 0 10px; min-width: 90px; padding: 0 10px; text-align: center; line-height: 60px; font-size: 16px; position: relative;color:#666;}
.mp-tabs .bd a:before{content: ''; display: block; position: absolute; bottom: 0; left: 0; height: 4px; width: 0; background: #3961cd; transform: scale3d(0, 1, 1); transition: transform 0.1s;}
.mp-tabs .bd a.active:before,
.mp-tabs .bd a:hover:before{transform: scale3d(1, 1, 1); transition-duration: 0.3s; width: 100%;}
.mp-tabs .bd a:hover,.mp-tabs .bd a.active{color:#3961cd;text-decoration:none;}

.invest-list{
    margin:30px 0 25px;
    padding:30px;
    color:#7e7e7e;
    background-color: #fff;
}
.invest-list .info .month{
	position:relative;
	padding-left:95px;
}
.invest-list .info .month label{
    position:absolute;
    left:0;
    top:0;
    line-height:40px;
    width:90px;
}
.invest-list .info .month label i{
    margin:0 0 0 4px;
    font-size: 14px;
}
.invest-list .info h4{
    margin:0 0 30px;
    font-weight: bold;
    color:#333;
}
.invest-list .info a{
    display: inline-block;
    width:85px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid #ccc;
    border-radius: 6px;
    margin:0 10px 10px 0;
    text-decoration: none;
    cursor: pointer;
    color:#666;
    vertical-align: middle;
}
.invest-list .info a.btn-disabled{
	color:#fff;
	cursor: not-allowed;
	position:relative;
}
.invest-list .info a.btn-disabled .tips{display:none;position:absolute;left:0;bottom:47px;background:#fff;color:#333;border:1px solid #d2d2d2;border-radius:5px;white-space:nowrap;padding:5px 10px;line-height:24px;z-index:1;}
.invest-list .info a.btn-disabled:hover .tips{display:block;box-shadow:0 0 5px #d2d2d2;}
.invest-list .info a.btn-disabled:hover .tips:before{content:"";position: absolute;width:0;height:0;left:15px;bottom:-14px;border:7px solid transparent;border-top-color:#d2d2d2;}
.invest-list .info a.btn-disabled:hover .tips:after{content:"";position: absolute;width:0;height:0;left:15px;bottom:-13px;border:7px solid transparent;border-top-color:#fff;}
.invest-list .info a.active{
    border-color: #f19149;
    background: url("/public/images/product/auto_icon.png") no-repeat 60px -30px;
}
.invest-list .invest-form .title{
    margin:15px 0 14px 105px;
    width:278px;
}
.invest-list .invest-form label{
    margin:0 15px 0 0;
}
.invest-list .invest-form input{
    width:284px;
    padding-right:27px;
}
.invest-list .invest-form .confirm-btn{
    width:160px;
    margin:0 0 0 10px;
}
.invest-list .invest-form .inputdiv{position:relative;}
.invest-list .invest-form .inputdiv .fulltip{display:none;position:absolute;left:400px;bottom:58px;width:160px;text-align:center;}
.invest-list .invest-form .inputdiv .inputunit{
	position:absolute;
	display:inline-block;
	left:362px;
	top:0;
	line-height:44px;
}
.invest-info{
    background-color: #fff;
    padding:30px;
    margin:0 0 25px;
}
.invest-info h4{
    font-weight: bold;
    color:#333;
}
.invest-info h4 span{
    font-weight: normal;
    font-size: 16px;
    margin:0 0 0 5px;
}
.invest-info h2{
    font-size:32px;
}
.invest-info h2 span{
    font-size: 22px;
}
.invest-info .icon-wenhao{
    font-size:14px;
    margin:0 0 0 3px;
}
.invest-detail{
	position:relative;
    background-color: #fff;
    margin:0 0 20px;
}
.invest-detail .info1{position:absolute;left:155px;top:30px;width:110px;line-height:30px;background:#f8f8f8;text-align:center;border-radius:30px;}
.invest-detail .prdPeriod{position:absolute;left:430px;top:30px;width:100px;line-height:30px;background:#f8f8f8;text-align:center;border-radius:30px;}
.invest-detail .banner{margin:40px auto 40px;display: block;}
.invest-detail .nav-tabs{
    height: 70px;
    border-top:1px solid #efefef;
    border-bottom:1px solid #d2d2d2;
    padding:0 40px;
}
.invest-detail .nav-tabs li{
    width:148px;
    height: 70px;
    line-height: 70px;
}
.invest-detail .nav-tabs li a{
    width:100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin:0 auto;
    padding:0;
    border:none;
    border-radius: 0;
    color:#666;
}
.invest-detail .nav-tabs>li.active>a,.invest-detail .nav-tabs>li.active>a:focus,.invest-detail .nav-tabs>li.active>a:hover{
    color:#0e6ac1;
    border:none;
    border-bottom:4px solid #1c56b4;
}
.invest-detail .tab-content{
    padding:40px;
}
.invest-detail .tab-content .base-info table{
    width:100%;
    color:#666;
}
.invest-detail .tab-content .base-info table tr td{
    line-height: 1.6;
    padding:10px;
}
.invest-detail .tab-content .base-info table tr:nth-child(2n+1) td{
    background-color: #f7f7f7;
}
.invest-detail .tab-content .base-info table tr td:first-child{
    width:200px;
    color:#999;
    height: 45px;
    padding-left:30px;
}
.invest-detail .tab-content .detail-list table{
    width:100%;
    text-align: center;
}
.invest-detail .tab-content .detail-list table tr th{
    height: 50px;
    background-color: #f7f7f7;
    text-align: center;
    color:#666;
}
.invest-detail .tab-content .detail-list table tr td{
    height: 55px;
    border-bottom:1px dotted #f7f7f7;
    color:#666;
}
.invest-detail .tab-content .detail-list table tr td:first-child{
    padding:0 0 0 20px;
    text-align: left;
    width:285px;
}

.invest-detail .tab-content .detail-list table tr td .label{
    margin:0 5px 0 0;
}
.invest-detail .tab-content .detail-list table tr td a.detail-link{
    cursor: pointer;
}
.invest-detail .tab-content .reload table{
    width: 100%;
}
.invest-detail .tab-content .reload table tr th{
    background-color: #f7f7f7;
    height: 50px;
    background-color: #f7f7f7;
    text-align: center;
    color: #666;
    vertical-align: middle;
}
.invest-detail .tab-content .reload table tr td{
    color: #888;
    height: 40px;
    vertical-align: middle;
    text-align: center;
}
.invert-modal{
    display: none;
    padding:20px 20px 0;
}
.invert-modal h4{
    margin:0 0 20px;
}
.invert-modal table{
    width:100%;
}
.invert-modal table tr td{
    height: 34px;
    vertical-align: middle;
    padding:5px 0 5px 10px;
}
.invert-modal table tr td:nth-child(2n+1){
    background-color: #f7f7f7;
    width:160px;
}
.invert-modal table tr td:nth-child(2n){
    width:210px;
}

.m-layer-subscription{display:none;}
.m-layer-subscription .warntip{background:#fff0d1;color:#960;padding:10px 20px 15px;line-height:20px;}
.m-layer-subscription .warntip h4{text-align:center;line-height:30px;padding:0;margin:0;font-size:15px;font-weight:700;}
.m-layer-subscription .warntip p{width:360px;margin:0 auto;}
.m-layer-subscription .bd{padding:10px 0 20px;width:360px;margin:0 auto;}
.m-layer-subscription .bd .text-muted2{color:#999;}
.m-layer-subscription .datatable tr{border:none;}
.m-layer-subscription .datatable td{border:none;padding:0;line-height:40px;vertical-align: middle}
.m-layer-subscription .bd .amount{color:#f39118;}
.m-layer-subscription .bd .agreementdiv{font-size:13px;font-weight:700;color:#999;}
.m-layer-subscription .bd .agreementdiv a{color:#3961cd;}
.m-layer-subscription .bd .btn-subscription{line-height:30px;width:100%;font-size:16px;}
.m-layer-subscription .bd table td .text-muted2{
    width:100px;
}
.m-layer-subscription .bd table td label{
    margin:0 5px 0 0;
    color:#666;
    line-height: 24px;
}
.m-layer-subscription .bd table td.product,.m-layer-subscription .bd table td.transfer{
    line-height: 24px;
}
.discount-type .dropdown-menu{
	min-width:300px;
}
.layui-layer-page .layui-layer-content{
    overflow: visible!important;
}
.bootstrap-select.btn-group .dropdown-menu li .icon-font {
    font-size: 16px;
}
.auto-pay-origan{
	color: #f29118!important;
	font-size: 32px;
}
.btn-info{
    border:none
}
.invest-detail .tab-content .login-layer{background-color: #fff; text-align: center;}
.invest-detail .tab-content .login-layer p{font-size:18px;line-height:30px;color:#666;padding-top:10px;}

.icheckbox.checked.disabled {background-position:-80px 0!important;}

.m-layer-risk{display:none;}
.m-layer-risk .closeicon{display:inline-block;position:absolute;right:15px;top:15px;line-height:1;cursor:pointer;}
.m-layer-risk .closeicon .icon-font{color:#999;font-size:25px;}
.m-layer-risk .bd{text-align:center;position:relative;padding:60px 20px;}
.m-layer-risk .bd h5{line-height:25px;font-size:18px;padding-top:15px;font-weight: bold}
.m-layer-risk .bd h6{line-height:20px;font-size:16px;color:#8e8e8e;padding:30px 0 15px;}
.m-layer-risk .bd .btn{line-height:42px;height:42px;width:160px;padding:0;font-size:16px;}

.product-list .bonustip{background:url(/public/images/product/bonus_autobid.png) no-repeat;color:#ffd872;position:absolute;right:-5px;top:10px;text-align:center;width:153px;height:50px;font-size:12px;line-height:14px;padding-left:45px;padding-top:10px;}
.product-list .icon-iphone{display:block;background:url(/public/images/home/iphone.png) no-repeat;width:113px;height:132px;position:absolute;right:0;top:-6px;}
.md-detail{position:relative;}
.md-detail .newertip{display:none;}
.md-detail .logo{position:absolute;right:20px;top:0;}
.md-detail .remark{position:absolute;right:105px;top:15px;line-height:27px;font-size:16px;color:#e42852;}

.u-what{display: inline-block;position:relative;width:0;height: 0;line-height:20px;margin-left:2px;margin-right:16px;}
.u-what .icon-font{position: absolute; left: 3px; bottom: -5px; color: #888; cursor: pointer; display: inline-block; font-size: 14px;}
.u-what .notes{display: none; position: absolute; left: 0; bottom: 23px; line-height:20px; padding:8px 10px; font-size: 14px; background: #fff; color: #666; border: 1px solid #ddd; border-radius:5px; white-space: nowrap; z-index: 10;font-weight:400;}
.u-what:hover .notes{display: block;box-shadow:0 0 10px rgba(0,0,0,0.2);}
.u-what .notes:before{content: ""; position: absolute; width: 0; height: 0; left: 10px; bottom: -8px; border: 8px solid transparent; border-left-color: #ddd;}
.u-what .notes:after{content: ""; position: absolute; width: 0; height: 0; left: 10px; bottom: -7px; border: 8px solid transparent; border-left-color: #fff;}
.u-what.bottomtip .notes{top:15px; bottom:auto;}
.u-what.bottomtip .notes:before{bottom: auto; top: -8px;}
.u-what.bottomtip .notes:after{bottom: auto; top: -7px;}
.u-what.bottomtip:hover:after{top: auto; bottom: -8px;}