.md-notice{background:#fff;}
.md-notice .bd{padding:60px;}
.md-notice .title{font-size:24px;text-align:center;padding-bottom:40px;border-bottom:1px dashed #c1c1c1;}
.md-notice .content p{line-height:30px;font-size:18px;color:#685a52;}

.m-copyright{background: #41332d;color: #fff;}
.m-copyright a.keeplink{color: #fff;}